
  .col-md-11{
    width: 75%;
    margin-left: 70px;
  }
  .col-md-1 img{
    width: 80px;
 }
 .friend{
    font-size: 14px;
 }
 .content{
   margin-left: 10px;
 }
 .cancel{
    width: 60px;
    margin-left: 10px;
    float: right;
    border: none;
    height: 38px;
    position: relative;
    border-radius: 5px;
    background-color: #6e88f1;
    color: #fff;
    bottom: 10px;
 }
 .person_post2{
    box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.4);
    border: 1px;
     width: 37%;
     transform: translateX(5%);
     margin-top: 2%;
     border-radius: 8px;
     margin-right: 8%;
     margin-left: 2%;
     padding: 20px 15px 20px 25px;
     display: flex;
  }
  .post_title{
     padding: 10px 0px 10px 10px;
     margin-bottom: 5px;
  }
  .differpage{
    margin-top: 20px;
    text-align: center;
}
.scannumber{
   background: url(../../眼睛.png) no-repeat;
   background-size: cover;
   background-position: right;
   width: 20px;
   height: 20px;
   float: left;
 }
 .scan{
   width: 20px;
   height: 20px;
   font-size: 10px;
   color: gray;
   text-align:end;
   font-weight: 400;
 }
 .scanbox{
   margin-top: 6px;
   margin-right: 50px;
   line-height: 20px;
   float: right;
 }
 .post2{
   width: 80%;
   line-height: 30px;
   box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.4);
   margin-bottom: 10px;
}
.post_content2{
 padding: 5px 40px 10px 40px;
 text-overflow: ellipsis;
 display: -webkit-box;
 -webkit-line-clamp: 3;
 -webkit-box-orient: vertical;
 overflow:hidden;
 line-height: 33px;
}