.search{
    display: flex;
    width: 90%;
    height: 44px;
    max-width: 540px;
    min-width: 420px;
    padding-left: 5px;
    margin-left: 10%;
    margin-bottom: 30px;
}
 .search input{
    height : 40px;
    width: 35%;
    max-width: 500px;
    min-width: 320px;
    border-radius: 20px;
    border: 1px solid #ccc;
    flex: 1;
    margin-right: 5px;
    margin-top: 5px;
    padding: 5px;
    outline: none;
    box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.1);
 }
 .search img{
    position: relative;
    width: 24px;
    height: 24px;
    margin: 10px;
    right: 10%;
 }
 .content{
    flex: 55%;
    margin-left: 8%;
    padding-left: 10%;
    padding-right: 2%;
    font-family: 楷体;
    font-weight: bold;
    display: flex;
    flex-wrap: wrap;
 }
 .part{
    flex: 50%;
    display: flex;
    flex-wrap: wrap;
 }
 .par{
    margin:10px 20px;
    flex: 40%;
    box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.4);
    border-radius: 10px;
    border: 1px;
    padding-bottom: 10px;
 }
 .post{
   padding-left: 15px;
   padding-bottom: 5px;
 }
 .scannumber{
    display: inline-flex;
    font-weight: 400;
    font-size: smaller;
    margin-left: 2%;
  }
  .title{
    padding: 10px;
    margin-bottom: 10px;
    margin-top: 0%;
    border-top: solid 5px #abbdf8;
    border-bottom: solid 2px #ccc;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
  }
  .platemanager{
    display: block;
    font-size: small;
    font-weight:400;
    padding-top: 8px;
  }
  .platemanager span{
    margin-left: 10px;
    color: #12339f;
    
  }
 .platename{
    margin: 10px;
    color: #12339f;cursor: default;
 }
 .platesum{
    margin-left: 10px;
    font-size: medium;
    font-weight: 400;
 }
 .glyphicon-trash{
   float: right;
 }
 .glyphicon-trash:hover{
   color: red;
 }
 .platetitle{
   outline: none;
   margin-left: 20px;
   border-radius: 10px;
   border:solid 1px gray;
   padding-left: 10px;
 }
 .platedescribe{
   outline: none;
   border: solid 2px rgb(190, 190, 241);
   border-radius: 5px;
   padding-left: 10px;
   margin-left: 30px;
   margin-right: 40px;
 }
.add{
   float: right;
   border: none;
   height: 38px;
   position: relative;
   border-radius: 5px;
   background-color: #6e88f1;
   color: #fff;
   top: 5px;
   width: 100px;
   margin-right: 30px;
}
.dropdown-toggle{
  position: relative;
  top: 44%;
  z-index: 0;
}
.dropdown-menu{
  position: absolute;
  left: 80px;
  top: 50px;
  background-color: rgba(0, 0, 0, 0.4);
  z-index: 199;
}
